#logo{
    max-width: 80px;
    height: auto; 
}
.banner{
    padding: 0px 5px;
    width: 100%; /* Chiều rộng mong muốn của hình ảnh */
    height: 700px; /* Chiều cao mong muốn của hình ảnh */
    background-image: url(images/banner.png); /* Đường dẫn đến hình ảnh */
    background-size: cover; /* Hình ảnh sẽ được căn chỉnh để phủ toàn bộ kích thước của phần tử */
    background-position: center; /* Căn giữa hình ảnh */
}
.fa-shopping-cart, .fa-caret-down{
    color: white; 
    line-height: 50px;
    margin: 4px;
}
.fa-shopping-cart{
    color: #ee4d2d;
    padding: 4px;
    max-width: 30px;
    background-color: #F5F5DC;
    --bs-btn-hover-bg: #fff
}
nav{
    background-color: #F5F5DC;
    position: relative;
    border: 6px;
}
.nav-link{
    color: #192A56 !important;
    font-size: 20px !important;
}
.btn, .btn-outline-success{
    color: #ee4d2d !important;
    border: #ee4d2d !important;
    --bs-btn-hover-bg: #fff !important;
}
header{
    color: #ee4d2d;
    border-radius: 25%;
}
#wrapper{
    background-color: transparent;
    z-index: 1000!important;
}
.wrapper{
    width: 100%;
}